@import "shared.css";

:root {
  --title-height: 13rem;
  --title-bg-color: rgb(91, 91, 91, 0.1);
  --title-pane-bg-color: rgb(227, 227, 227);
  --info-header-bg-color: rgb(227, 227, 227, 0.7);
}

html {
  font-size: 12px;
}

body {
  font-size: 1.2rem;
}

img {
  align-self: center;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.8s;
}

#video-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* TTITLE PANE */
.sns-logo {
  height: 5.0rem;
}

#sns-logo-sm {
  display: none;
}

#hrv-logo {
  height: 8.0rem;
  width: 9.5rem;
}

.blend {
  mix-blend-mode: hard-light;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  overflow: hidden;
  background-color: var(--title-bg-color);
}

.title-anchor {
  display: flex;
  height: var(--title-height);
  color: var(--sns-gray);
  background-color: var(--title-pane-bg-color);
}

.title-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.title-cap {
  height: var(--title-height);
  background-color: var(--title-pane-bg-color);
  width: 7rem;
  z-index: -1;
}

.move-l-skew {
  transform: translateX(-50%) skew(-26deg);
}

.move-r-skew {
  transform: translateX(50%) skew(-26deg);
}

.title-sns-pane {
  padding-left: 3rem;
}

.hrv-title {
  padding-right: 3rem;
}

.title-content h2 {
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.title-content h3 {
  font-size: 1.8rem;
}

.title-content h5 {
  font-size: 1.3rem;
}

.title-content p {
  font-size: 1.5rem;
}

/* TECH PANE */
.tech-card {
  display: flex;
  flex-direction: column;
}

.tech-content {
  display: flex;
  flex-direction: column;
}

.function-pane {
  width: 35.5rem;
}

.tech-pane {
  width: 39.5rem;
}

/* MAIN CONTENT*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  margin: 5rem;
}

/* START PANE */
.start-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-btn-container h2 {
  font-size: 2rem;
  color: var(--title-pane-bg-color);
  letter-spacing: 0.5rem;
}

.start-btn-container p {
  color: var(--sns-white);
  font-size: 1.6rem;
}

.start-btn {
  display: flex;
  flex-direction:column;
  justify-content: center;
  border: solid 2px;
  color: var(--title-pane-bg-color);
  font-size: 2.5rem;
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 50%;
  background-color: var(--sns-gray);
}

.start-btn h5 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.start-btn:hover {
  background-color: rgba(128, 142, 171, 0.5);
  transition: background-color 0.7s;
}

/* TECHNOLOGIES BAR */
.tech-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.tech-bar-header {
  display: block;
  margin: 1rem;
  background-color: var(--info-header-bg-color);
  text-align: center;
  color: var(--sns-gray);
  width: 100%;
}

.tech-bar-container h5 {
  color: rgb(230, 230, 230);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.3rem;
}

.tech-bar-content{
  display: flex;
  margin-top: 0.5rem;;
}

.tech-group-container{
  display: flex;
  flex-direction: column;
}

.tech-group-line img:not(:last-child),
.tech-group-container:not(:last-child) {
  margin-right: 1rem;
}


@media all and (max-width: 980px) {

  html {
    font-size: 11px;
  }

  .title-cap {
    display: none;
  }

  .title-container {
    background-color: var(--title-pane-bg-color);
  }

  .title-anchor {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0);
  }

  .tech-bar-container {
    text-align: center;
  }

  .tech-group-line {
    width: min-content;
    margin: 0.25rem;
  }

  .tech-group-line img {
    margin: 0.2rem;
  }

  .title-sns-pane {
    padding-left: 2rem;
  }

  .hrv-title {
    padding-right: 2rem;
  }

}

@media all and (max-width: 780px) {

  html {
    font-size: 10px;
  }

  #sns-logo-lg {
    display: none;
  }

  #sns-logo-sm {
    display: block;
  }

  .title-content p {
    display: none;
  }

  .hrv-title h5 {
    display: none;
  }

}

@media all and (max-width: 450px) {

  .tech-bar-container {
    display: none;
  }

  .hrv-title {
    display: none;
  }

}

@media all and (max-width: 340px) {

  .title-sns-pane {
    display: none;
  }

}