@import "shared.css";

.navbar {
  background: var(--sns-white);
  color: var(--sns-gray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 25%);
  width: 80%;
  margin: auto;
  max-width: 950px;
}

/* Logo setup */
.logo-container img {
  max-height: 5.5rem;
  padding: 5px;
  margin: 0.5rem;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 10px;
}

.logo-container img:hover {
  transform: scale(1.1);
  transition: transform 0.7s;
}

#logo-sm {
  display: none;
}

/* Nav list items */
.nav-list {
  list-style-type: none;
  text-align: center;
}

.list-item {
  display: inline-block;
  padding: 1.2rem;
}

.list-item:hover {
  transform: translateY(-0.2rem);
  transition: transform 0.3s;
}

.list-item a {
  color: var(--sns-gray);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.9px;
}

.list-item:hover a{
  color: var(--drk-blue)
}

/* Burger menu setup */
.menu-line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--sns-gray);
}

.menu-container {
  display: none;
}

.menu-container:hover {
  transform: scaleY(1.2);
  transition: transform 0.3s;
}

.menu-container:hover .menu-line{
  background-color: var(--med-green);
}


@media all and (max-width: 850px) {

  #logo-lg {
    display: none;
  }

  #logo-sm {
    display: block;
  }

  .list-item {
    padding: 0.8rem;
  }

}

@media all and (max-width: 650px) {

  #logo-lg {
    display: block;
  }

  #logo-sm {
    display: none;
  }

  .navbar {
    flex-direction: column;
    position: relative;
  }

  .menu-container {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.1rem;
  }

  .nav-list {
    display: none;
    width: 100%;
  }

  .list-item {
    display: block;
    border-top: 1px solid;
    text-align: center;
    padding: 0.8rem;
  }

}

@media all and (max-width: 450px) {

  #logo-lg {
    display: none;
  }

  #logo-sm {
    display: block;
  }

  .logo-container {
    position: relative;
  }

}

.active {
  display: block;
}