@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --drk-blue: rgb(3, 147, 208);
  --med-blue: rgb(19, 173, 243);
  --lgt-blue: rgb(88, 208, 255);
  --drk-green: rgb(80, 125, 20);
  --med-green: rgb(113, 171, 35);
  --lgt-green: rgb(138, 201, 52);
  --sns-gray: rgb(91, 91, 91);
  --sns-white: rgb(245, 245, 245);
  --sns-font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 12px;
  font-family: var(--sns-font-family);
}

body {
  box-sizing: border-box;
}