<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="../static/css/modules.css" th:href="@{css/modules.css}">
    <!-- Custom scripts -->
    <script src="../static/js/fluid-properties.js" th:src="@{js/fluid-properties.js}" type="module"></script>
    <title>HVAC|LIB - Modules</title>
</head>

<body>
    <!-- LAYOUT NAVBAR PLACEHOLDER -->
    <main layout:fragment="navbar"><br>

        <!-- Main body of this page -->
        <section class="main-container">

            <!-- Humid air properties card -->
            <div class="card">
                <h3 class="card-header">HUMID AIR PROPERTIES:</h3>
                <form id="airPropForm" class="card-content">
                    <!--Options selection-->
                    <div class="form-line-group">
                        <label for="absPressure" class="form-label">Selected calculation option</label>
                        <select id="airPropOptions" class="form-input form-choicebox">
                            <option value="RH" selected>Pat, DBT, RH</option>
                            <option value="x">Pat, DBT, X</option>
                        </select>
                    </div>
                    <!--Patm-->
                    <div class="form-line-group">
                        <label for="absPressure" class="form-label">Absolute atm. pressure (P<sub>atm</sub>)</label>
                        <input id="absPressure" type="number" class="form-input form-textfield" value="101300.2"
                            min="50000" max="150000" step="0.1">
                        <label for="absPressure" class="form-unit">Pa</label>
                    </div>
                    <!--DBT-->
                    <div class="form-line-group">
                        <label for="dryBulbTemperature" class="form-label">Dry bulb temperature (DBT)</label>
                        <input id="dryBulbTemperature" type="number" class="form-input form-textfield" value="20.5"
                            min="-130" max="150" step="0.01">
                        <label for="dryBulbTemperature" class="form-unit"><sup>o</sup>C</label>
                    </div>
                    <!--RH-->
                    <div class="form-line-group">
                        <label for="relativeHumidity" class="form-label">Relative humidity (RH)</label>
                        <input id="relativeHumidity" type="number" class="form-input form-textfield" value="50.5"
                            min="0" max="100" step="0.01">
                        <label for="relativeHumidity" class="form-unit">%</label>
                    </div>
                    <!--X-->
                    <div class="form-line-group">
                        <label for="humidityRatioX" class="form-label">Humidity ratio (X)</label>
                        <input id="humidityRatioX" type="number" class="form-input form-textfield" min="0" max="2"
                            step="0.0000001" readonly>
                        <label for="humidityRatioX" class="form-unit">kg<sub>wv</sub>/kg<sub>da</sub></label>
                    </div>
                    <!--XMax-->
                    <div class="form-line-group">
                        <label for="maxHumidityRatioX" class="form-label">Maximum humidity ratio (X")</label>
                        <input id="maxHumidityRatioX" type="number" class="form-input form-textfield" readonly>
                        <label for="maxHumidityRatioX" class="form-unit">kg<sub>wv</sub>/kg<sub>da</sub></label>
                    </div>
                    <!--DP-->
                    <div class="form-line-group">
                        <label for="dewPointTemperature" class="form-label">Dew point temperature (DP)</label>
                        <input id="dewPointTemperature" type="number" class="form-input form-textfield" readonly>
                        <label for="dewPointTemperature" class="form-unit"><sup>o</sup>C</label>
                    </div>
                    <!--WBT-->
                    <div class="form-line-group">
                        <label for="wetBulbTemperature" class="form-label">Wet bulb temperature (WBT)</label>
                        <input id="wetBulbTemperature" type="number" class="form-input form-textfield" readonly>
                        <label for="wetBulbTemperature" class="form-unit"><sup>o</sup>C</label>
                    </div>
                    <!--RHO-->
                    <div class="form-line-group">
                        <label for="density" class="form-label">Density (&rho;)</label>
                        <input id="density" type="number" class="form-input form-textfield" readonly>
                        <label for="density" class="form-unit">kg/m<sup>3</sup></label>
                    </div>
                    <!--CP-->
                    <div class="form-line-group">
                        <label for="specHeat" class="form-label">Specific heat (Cp)</label>
                        <input id="specHeat" type="number" class="form-input form-textfield" readonly>
                        <label for="specHeat" class="form-unit">kJ/kg<sup>.</sup>K</label>
                    </div>
                    <!--h-->
                    <div class="form-line-group">
                        <label for="specEnthalpy" class="form-label">Specific enthalpy (h)</label>
                        <input id="specEnthalpy" type="number" class="form-input form-textfield" readonly>
                        <label for="specEnthalpy" class="form-unit">kJ/kg</label>
                    </div>
                    <!--k-->
                    <div class="form-line-group">
                        <label for="thermalConductivity" class="form-label">Thermal conductivity (k)</label>
                        <input id="thermalConductivity" type="number" class="form-input form-textfield" readonly>
                        <label for="thermalConductivity" class="form-unit">W/m<sup>.</sup>K</label>
                    </div>
                    <!--tdiff-->
                    <div class="form-line-group">
                        <label for="thermalDiffusivity" class="form-label">Thermal diffusivity (&alpha;)</label>
                        <input id="thermalDiffusivity" type="number" class="form-input form-textfield" readonly>
                        <label for="thermalDiffusivity" class="form-unit">m<sup>2</sup>/s</label>
                    </div>
                    <!--dynVis-->
                    <div class="form-line-group">
                        <label for="dynamicViscosity" class="form-label">Dynamic viscosity (&mu;)</label>
                        <input id="dynamicViscosity" type="number" class="form-input form-textfield" readonly>
                        <label for="dynamicViscosity" class="form-unit">kg/m<sup>.</sup>s</label>
                    </div>
                    <!--kinVis-->
                    <div class="form-line-group">
                        <label for="kinematicViscosity" class="form-label">Kinematic viscosity (&nu;)</label>
                        <input id="kinematicViscosity" type="number" class="form-input form-textfield" readonly>
                        <label for="kinematicViscosity" class="form-unit">m<sup>2</sup>/s</label>
                    </div>
                    <!--prandtl-->
                    <div class="form-line-group">
                        <label for="prandtlNumber" class="form-label">Prandtl number (Pr)</label>
                        <input id="prandtlNumber" type="number" class="form-input form-textfield" readonly>
                        <label for="prandtlNumber" class="form-unit">-</label>
                    </div>
                    <!--status-->
                    <div class="form-line-group">
                        <label for="vapourStatus" class="form-label">Water vapour state</label>
                        <input id="vapourStatus" type="text" class="form-input form-textfield" readonly>
                    </div>
                </form>
                <!-- Buttons -->
                <div class="form-button-container">
                    <button id="airCalculateButton" class="form-button calc-button">CALCULATE</button>
                    <button id="airResetButton" type="reset" class="form-button reset-button">RESET</button>
                </div>
            </div>

            <div class="gap-5rem"></div>    

            <!-- Liquid water properties card -->
            <div class="card">
                <h3 class="card-header">LIQUID WATER PROPERTIES:</h3>
                <form id="waterPropForm" class="card-content">
                    <!--tw-->
                    <div class="form-line-group">
                        <label for="temperature" class="form-label">Temperature (t<sub>w</sub>)</label>
                        <input id="temperature" type="number" class="form-input form-textfield" value="20.5" min="-130" max="150" step="0.01">
                        <label for="temperature" class="form-unit"><sup>o</sup>C</label>
                    </div>
                    <!--rho-->
                    <div class="form-line-group">
                        <label for="density" class="form-label">Density (&rho;)</label>
                        <input id="density" type="number" class="form-input form-textfield" readonly>
                        <label for="density" class="form-unit">kg/m<sup>3</sup></label>
                    </div>
                    <!--CP-->
                    <div class="form-line-group">
                        <label for="specHeatCp" class="form-label">Specific heat (Cp)</label>
                        <input id="specHeatCp" type="number" class="form-input form-textfield" readonly>
                        <label for="specHeatCp" class="form-unit">kJ/kg<sup>.</sup>K</label>
                    </div>
                    <!--h-->
                    <div class="form-line-group">
                        <label for="specEnthalpy" class="form-label">Specific enthalpy (h)</label>
                        <input id="specEnthalpy" type="number" class="form-input form-textfield" readonly>
                        <label for="specEnthalpy" class="form-unit">kJ/kg</label>
                    </div>
                </form>
                <!-- Buttons -->
                <div class="form-button-container">
                    <button id="waterCalculateButton" class="form-button calc-button">CALCULATE</button>
                    <button id="waterResetButton" type="reset" class="form-button reset-button">RESET</button>
                </div>
            </div>

        </section>

    </main>

</body>

</html>